In [1]:
#webscraper tool
from selenium import webdriver
#Technically unneccesary, but I like to time how long some operations take
from datetime import datetime
# For cleaning up data
import pandas as pd
# for handling .txt file
import os

In [2]:
# Instantiates the driver
driver = webdriver.Chrome()

In [3]:
#I set the root of all the databases as the base for selenium so I #can recycle the code to scrape the other databases
home = 'http://www2.scc.rutgers.edu/memdb/database_list.html'
#Tells selenium to go to the base url
driver.get(home)

In [4]:
#This is the name of the link text in the first link
first_link = 'Prices (Metz)'

#This is the command that tells Selenium to click the first link:
driver.find_element_by_link_text(first_link).click()

In [5]:
#found by using the copy xpath tool in the browser inspector
second_link = '/html/body/main/table/tbody/tr/td[2]/form/p/input'

#clicks the button
driver.find_element_by_xpath(second_link).click()

In [6]:
# name of our text file
filename = 'Metz_prices_demo.txt'
# creates .txt file
file_object  = open(filename, "w+")

In [7]:
# Starts our counter for our while loop
counter = 0
# Sets our file to have table data appended to it
export = open(filename, 'a+')
# Optional, but I like to time how long certain functions take
start = datetime.now()

# While loop that goes through each page and saves the data
while counter < 402:
    # The location of the table on every page
    table_loc = '/html/body/form/main/table/tbody/tr/td[2]/p[3]/table/tbody'
    # The selenium function that gets the data from the table and loads it into a variable
    page_text = driver.find_element_by_xpath(table_loc).text
    # The function that writes the table data into our .txt file
    export.write(page_text + '\n')
    try:
        # More common page layout
        button_path = '/html/body/form/main/table/tbody/tr/td[2]/center[3]/input[2]'
        driver.find_element_by_xpath(button_path).click()
    except:
        # Less common page layout
        button_path = '/html/body/form/main/table/tbody/tr/td[2]/center[3]/input'
        driver.find_element_by_xpath(button_path).click()
    # Adds 1 to the counter
    counter += 1

# Timestamps the end of the loop
end = datetime.now()
# Calculates the duration of the loop
duration = end - start

#Prints the duration
print(duration)

0:07:31.871639

In [8]:
table_loc = '/html/body/form/main/table/tbody/tr/td[2]/p[3]/table/tbody'
# table_loc = '/html/body/form/main/table/tbody/tr/td[2]/p[3]/table/tbody'
page_text = driver.find_element_by_xpath(table_loc).text
export.write(page_text + '\n')
# button_path = f'/html/body/form/main/table/tbody/tr/td[2]/center[3]/input[2]'
# driver.find_element_by_xpath(button_path).click()

4534

In [9]:
column_names = ['Num', 'Year', 'Month', 'Week', 'Product', 'Number_of_Malters_Sold', 'Currency', 'Price_per_Malter']
# Opens the .txt, uses the two space delimeter, skips the first 3 rows, and sets the column names to the list of names above
df = pd.read_csv('Metz_prices_demo.txt', sep = '  ', skiprows = 3, names = column_names, header = None)
df

C:\Users\charl\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

,Num,Year,Month,Week,Product,Number_of_Malters_Sold,Currency,Price_per_Malter
0,1,1531.0,7.0,1.0,Barley,19.0,Mark,7.00
1,2,1531.0,7.0,2.0,Barley,26.0,Mark,7.00
2,3,1531.0,8.0,1.0,Barley,232.0,Mark,6.00
3,4,1531.0,8.0,2.0,Barley,315.0,Mark,6.00
4,5,1531.0,8.0,3.0,Barley,260.0,Mark,6.00
...,...,...,...,...,...,...,...,...
41268,39896,1795.0,11.0,4.0,Wheat,5.0,Gulden,35.33
41269,39897,1795.0,12.0,1.0,Wheat,6.0,Gulden,46.00
41270,39898,1795.0,12.0,3.0,Wheat,47.0,Gulden,40.71
41271,39899,1795.0,12.0,4.0,Wheat,5.0,Gulden,40.00
41272,39900,1795.0,12.0,5.0,Wheat,12.0,Gulden,36.67

In [10]:
#Shows a header row that we need to clean
df.iloc[[100]]

,Num,Year,Month,Week,Product,Number_of_Malters_Sold,Currency,Price_per_Malter
100,Num Year Month Week Product Number of,NaN,NaN,NaN,None,NaN,None,NaN

In [11]:
# Removes all rows from the dataframe where the contents of the 'Num' column have letters in them
df = df[~df['Num'].str.contains("[a-zA-Z]").fillna(False)]
df

,Num,Year,Month,Week,Product,Number_of_Malters_Sold,Currency,Price_per_Malter
0,1,1531.0,7.0,1.0,Barley,19.0,Mark,7.00
1,2,1531.0,7.0,2.0,Barley,26.0,Mark,7.00
2,3,1531.0,8.0,1.0,Barley,232.0,Mark,6.00
3,4,1531.0,8.0,2.0,Barley,315.0,Mark,6.00
4,5,1531.0,8.0,3.0,Barley,260.0,Mark,6.00
...,...,...,...,...,...,...,...,...
41268,39896,1795.0,11.0,4.0,Wheat,5.0,Gulden,35.33
41269,39897,1795.0,12.0,1.0,Wheat,6.0,Gulden,46.00
41270,39898,1795.0,12.0,3.0,Wheat,47.0,Gulden,40.71
41271,39899,1795.0,12.0,4.0,Wheat,5.0,Gulden,40.00
41272,39900,1795.0,12.0,5.0,Wheat,12.0,Gulden,36.67

In [12]:
# Removes duplicate rows that we might have accidentally grabbed from the data
df.drop_duplicates(subset = ['Num'], keep = 'first', inplace = True)
df.reset_index(inplace = True)
#df.to_csv('test1.csv')

C:\Users\charl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df

,index,Num,Year,Month,Week,Product,Number_of_Malters_Sold,Currency,Price_per_Malter
0,0,1,1531.0,7.0,1.0,Barley,19.0,Mark,7.00
1,1,2,1531.0,7.0,2.0,Barley,26.0,Mark,7.00
2,2,3,1531.0,8.0,1.0,Barley,232.0,Mark,6.00
3,3,4,1531.0,8.0,2.0,Barley,315.0,Mark,6.00
4,4,5,1531.0,8.0,3.0,Barley,260.0,Mark,6.00
...,...,...,...,...,...,...,...,...,...
39968,41165,39969,1797.0,5.0,5.0,Wheat,34.0,Gulden,21.04
39969,41166,39970,1797.0,6.0,1.0,Wheat,101.0,Gulden,22.88
39970,41167,39971,1797.0,6.0,2.0,Wheat,127.0,Gulden,24.08
39971,41168,39972,1797.0,6.0,3.0,Wheat,193.0,Gulden,24.83
39972,41169,39973,1797.0,6.0,4.0,Wheat,194.0,Gulden,25.04

In [14]:
# exports the clean dataframe to a csv
df.to_csv('koln_grain_prices.csv')